streamlit
pytesseract
Pillow
pyttsx3
python-docx
PyMuPDF # This is fitz
requests
beautifulsoup4
ebooklib
gTTS
SpeechRecognition
transformers
torch # Needed for transformers
sentencepiece # Needed for MarianMT tokenizer
